[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask_sqlalchemy = "*"
pytest = "*"
ipdb = "*"
importlib-metadata = "==6.0.0"
importlib-resources = "==5.10.0"
Faker = "==14.2.0"
flask-migrate = "*"
pytest-flask = "*"
sqlalchemy-serializer = "*"

[requires]
python_version = "3.12"
